---
layout: default
---
<h1><a href="/">MARCUS</a> ✌</h1>
<p class="info"><span>A Vietnamese-based User Experience designer specializing in data-driven</span> <a id="dribbble" href="http://dribbble.com/marcustran" target="_blank">design systems</a> <span>that information is played and refined by user-centered evaluation.</span></p>

{% for category in site.categories reversed %}
    <table class="index">
        <tr>
            <th>{{ category | first}}</th>
        </tr>
        {% for posts in category %}
            {% for post in posts %}
                {% if post.title != null %}
                    <tr href="{{ post.url }}">
                       <td class="date"><span>{{ post.date | date: "%d %b %Y"}}</span></td>
                       <td>{{ post.title }}</td> 
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}

    </table>
{% endfor %}
